[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"
ipykernel = "*"

[packages]
requests = "*"
xmltodict = "*"
six = "*"
future = "*"

[requires]
python_version = "3.9"
